#*************************************************
# QUIL - Quick Unified Iterative Language
# Language and Compiler toolchain, Frontend
#
# Copyright (c) 2026-present quil-project authors.
# Licensed under the terms of the LICENSE file.
#
# Issues: <https://github.com/quil-project/quil>
#*************************************************

# Ignore
bin/*
build/
runtime/*.o
# sha files would be uploaded with new releases
install.sh.sha256
change_plan.md
hashmap_plan.md
# payload test files
payload/*
a.out
a.out.c
a.out.s
*.tmp.s
.ssa

# dont ignore
!bin/.gitkeep
!payload/.gitkeep
